html,
body {
    font-size: 15px;
}

/* flex布局 */

.rowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rowTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.rowEndCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.rowEnd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.rowStartCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.rowStart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.rowStartSB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.rowStartEnd {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.rowSB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rowSBStart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.colCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colSB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.colStartSB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.colEndCenter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.colEnd {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.colStartCenter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.colStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


/*宽度100% */

.width100 {
    width: 100%;
}


/* margin */

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.blueIcon {
    font-size: 20px;
    color: #4880FF;
    margin-right: 0.6rem;
    cursor: pointer;
}

.grayText12 {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
}

.blueText12 {
    font-size: 12px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #4880FF;
}

.el-table td,
.el-table th, a, .el-col {
    font-size: 14px !important;
}